<h3 style="margin-left: -10px;"><i class="fas fa-book-reader"></i> StoRy</h3>
<div class="section">
    <p class="lead">
        Create public and private stories ...
    </p>
</div>
<div class="divider"></div>
<div class="section login-btn-color">
    <a href="/auth/google" class="btn red darken-1">
      <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
